{% extends 'base.html'%}
{{block.super}}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="info-container" style="margin-top: 50px;margin-left: 50px;">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="font-weight: bold;"><span class="name">Portfolio</span></h1>
                    </div>

                    <div class="nav mt-3">
                        <ul>
                            <li><a id="btn" href="{%url 'home' %}">Home</a></li>



                        </ul>

                    </div>

                </div>
                <div class="col-md-12">
                    <section id="section04" class="demo">
                        <a href="#projects" id="section04" class="demo"><span></span></a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


{% for project in projects %}
<div class="container mt-5" id="projects">
    <div class="card mb-3">
        <img class="card-img-top" src="{{project.screenshot.url}}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title" style="font-family: 'Open Sans', sans-serif;">Name: {{project.name}}</h4>
            <h5 class="card-text" style="font-family: 'Open Sans', sans-serif;">Description:
                {{project.description}}.
            </h5>
            <h5 class="card-text" style="font-family: 'Open Sans', sans-serif;">Technologies Used:
                {{project.technologies}}.
            </h5>
            <h5 class="card-text" style="font-family: 'Open Sans', sans-serif;">Link:<small class="text-muted"><a
                        href="{{project.link}}"
                        style="font-family: 'Open Sans', sans-serif;">{{project.link}}</a></small></h5>
        </div>
    </div>
</div>
{% endfor %}



{% endblock%}